@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.portada{
    z-index: 99;
    height:700px;
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4b00e04f, #8d2de246), url('/assets/images/fondo.jpg'); 
    background: linear-gradient(to right, #4b00e052, #8d2de246), url('/assets/images/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.portada>div{
    margin-top: 50px;;
    width: 75%;
}
.portada strong {
    font-size: 50px;
    color: #4A00E0;
    background-color: #ffffff;
}
.portada button {
    outline: none;
    font-family: 'Radio Canada', sans-serif;
    background-color:#ffffff;
color:#4A00E0;
border: 0px;
border-radius:10px;
}
.portada button:hover {
    transition: 500ms ease-in-out;
    color:#ffffff;
    background-color: #6d6d6dee;
}
.txt>h2{
    font-family: 'Koulen', cursive;
}
.txt>p{
    font-family: 'Radio Canada', sans-serif;
    color:#5f5f5f;
}

button {
    outline: none;
    font-family: 'Radio Canada', sans-serif;
    background-color:#4A00E0;
color:#ffffff;
border:none;
border-radius:10px;
}
button:hover {
    transition: 500ms ease-in-out;
    background-color: #474747ee;
}
