<div>
  <app-header></app-header>
  <div class="portada position-relative">
    <div class="position-absolute top-50 start-50 translate-middle row">
      <div class="col">
        <p class="">
          <strong class="px-3">TÚ MODA, TÚ ESTILO</strong><br>
          <strong class="px-3">TÚ MODA, TÚ ESTILO</strong><br>
          <strong class="px-3">TÚ MODA, TÚ ESTILO</strong><br>
        </p>
        <button class="px-3 py-2">DESCUBRIR</button>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YO-f6XD76Q4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="txt text-center py-2">
    <h2 class="mt-5">PRODUCTOS MAS VISTOS</h2>
    <p class="mb-4">Estos son nuestros productos con mayor aceptacion del público</p>
    <div class="container">
      <div class="row pt-3 pb-4  shadow-sm rounded my-5">
        <div class="col-3 position-relative">
          <img src="assets\images\items\123456.png" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/50</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\00460159-01.jpg" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/300</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\123455.jfif" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/100</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\1234541.jfif" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/50</strong>
          </div>
        </div>
        <div class="mt-4">
          <button class="py-2 px-3">DESCUBRIR</button>
        </div>
      </div>    
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center py-5" style="background-color:#4A00E0">
    <div class="text-center ">
      <div class="d-inline-block bg-white my-0 mx-1 shadow-sm rounded" style="width: 500px;height: 300px;"></div>
      <div class="d-inline-block bg-white my-0 mx-1 shadow-sm rounded" style="width: 500px;height: 300px;"></div>
    </div>
  </div>
  <div class="txt text-center py-2">
    <h2 class="mt-5">NUEVOS ARTICULOS</h2>
    <p class="mb-4">Estos son nuestros productos con mayor aceptacion del público</p>
    <div class="container">
      <div class="row pt-3 pb-4  shadow-sm rounded my-5">
        <div class="col-3 position-relative">
          <img src="assets\images\items\123456.png" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/50</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\00460159-01.jpg" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/300</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\123455.jfif" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/100</strong>
          </div>
        </div>
        <div class="col-3 position-relative">
          <img src="assets\images\items\1234541.jfif" alt="Avatar" class="image" style="width:100%;">
          <div>
            <p class="mt-2 mb-2 px-3">lorem ipsum dolor sit lorem ipsum </p>
            <strong class="" style="color:#4A00E0;">S/50</strong>
          </div>
        </div>
        <div class="mt-4">
          <button class="py-2 px-3">DESCUBRIR</button>
        </div>
      </div>    
    </div>
  </div>
  <app-footer></app-footer>
</div>