@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/*font-family: 'Koulen', cursive;*/
*{
    font-family: 'Radio Canada', sans-serif;
    z-index: 100;
}
.nav li {
    margin-right: 1rem;
}
.nav a{
    color: #ffffff;
    text-decoration: none;
}
.nav svg{
    fill: #ffffff;
}
.nav a:hover{
    color: #b6b6b6;
    fill: #b6b6b6;
    transition: 300ms all ease;
}
button {
    outline: none;
    background-color:transparent;
color:#ffffff;
border: 3px #ffffff solid;
border-radius:10px;
}