<div class="p-4">
    <form action="post">
        <div class="d-inline-block">
            <label class="d-block" for="">Usuario</label>
            <label class="d-block" for="">Contraseña</label>
            <label class="d-block" for="">Email</label>
            <label class="d-block" for="">Telefono</label>
            <label class="d-block" for="">Nombre</label>
            <label class="d-block" for="">Apellido</label>
        </div>
        <div class="d-inline-block">
            <input class="d-block" type="text" name="" id="">
            <input class="d-block" type="password" name="" id="">
            <input class="d-block" type="email" name="" id="">
            <input class="d-block" type="text" name="" id="">
            <input class="d-block" type="text" name="" id="">
            <input class="d-block" type="text" name="" id="">
        </div>
        <button class="btn btn-primary">Ingresar</button>
        
    </form>
</div>
