<div class="w-100 h-100 position-relative">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form action="post" class="p-5 m-auto shadow">
            <h1 class="my-4 text-center">Login</h1>
            <label class="mb-1" for="">Usuario</label><br>
            <input class="form-control" type="text"><br>
            <label class="mb-1" for="">Password</label><br>
            <input class="form-control" type="password"><br>
            <a class="" href="#">¿Te olvidaste tu contraseña?</a><br>
            <button class="btn btn-secondary mt-3" type="submit">Ingresar</button>
        </form>
    </div>
</div>